# Path to model (from src/service.py)
MODEL_PATH=

# Path to logs direct
LOGGER_PATH=

# Device: CPU, CUDA or MPS
DEVICE=

# The best Threshold from experiment of Cross-Encoder Model
THRESHOLD=

# Level of logging
LOG_LEVEL=